<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>add_patient</title>
        <script>
            user={{ user|safe }}
        </script>
        {% load static %}
        <script text="JavaScript" src="/static/polls_js/jquery-3.5.1.js"></script>
        <script text="JavaScript" src="/static/polls_js/add_patient.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/polls_css/add_patient.css"/>
	</head>
	<body>
		<div id="body_div">
			<div id="left_bigdiv">
				<div id="left_topdiv">
					<ul id="ul_1">
						<li>
							Management
						</li>
					</ul>
				</div>
				<div id="left_buttendiv">
					<ul id="ul_2">
						<li class="li_1" id="li_1-1">
							<a class="a_1 "id="a1" href="http://127.0.0.1:8000/polls/login/admin_patient/">病人管理</a>
						</li>
						<li class="li_1" id="li_1-2">
							<a class="a_1" id="a2" href="http://127.0.0.1:8000/polls/login/admin_device/">设备管理</a>
						</li>
						<li class="li_1" id="li_1-3">
							<a class="a_1" id="a3" href="http://127.0.0.1:8000/polls/login/tiwen/">体温监测</a>
						</li>
					</ul>
				</div>
			</div>	
			<div id="right_bigdiv">
				<div id="right_topdiv">
					<span class="span1">tubiao</span>
					<span class="span2" id="muser" onmouseover="this.style.cursor = 'pointer';" onclick="putout()"></span>
				</div>
				<div id="right_meddiodiv">
					<span id="span_patientlist">添加病人</span>
				</div>
				<div id="data">
					<ul id="add_patient_context">
						<form id="add_patient_form"  method="post">
							<tr class="inputadd"><input type="text" name="patient_id" id="text1" value placeholder="ID：" /></tr>
                            <tr class="inputadd"><input type="text" name="patient_name" id="text2" value placeholder="姓名：" /></tr>
							<tr class="inputadd"><input type="text" name="patient_gender" id="text3" value placeholder="性别：" /></tr>
							<tr class="inputadd"><input type="text" name="patient_birthday" id="text4" value placeholder="生日:" /></tr>
                            <tr class="inputadd"><input type="text" name="patient_physician" id="text5" value placeholder="医生:" /></tr>
							<tr>
								<td><input type="button" name="butten_addpatient" id="add_patient_butten1" onclick="cannl()" value="退出" /></td>
								<td><input type="button" name="submit_addpatient" id="add_patient_submit" onclick="save_patient()" value="保存" /></td>
							</tr>
						</form>
					</ul>
				</div>
					
				
			</div>
		</div>
	</body>
</html>
