<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>add_device</title>
        {% load static %}
        <script text="JavaScript" src="/static/polls_js/jquery-3.5.1.js"></script>
        <script text="JavaScript" src="/static/polls_js/add_device.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/polls_css/add_device.css"/>
	</head>
	<body>
		<div id="body_div">
			<div id="left_bigdiv">
				<div id="left_topdiv">
					<ul id="ul_1">
						<li>
							Management
						</li>
					</ul>
				</div>
				<div id="left_buttendiv">
					<ul id="ul_2">
						<li class="li_1" id="li_1-1">
							<a class="a_1 "id="a1" href="http://127.0.0.1:8000/polls/login/admin_patient/">病人管理</a>
						</li>
						<li class="li_1" id="li_1-2">
							<a class="a_1" id="a2" href="http://127.0.0.1:8000/polls/login/admin_device/">设备管理</a>
						</li>
						<li class="li_1" id="li_1-3">
							<a class="a_1" id="a3" href="http://127.0.0.1:8000/polls/login/tiwen/">体温监测</a>
						</li>
					</ul>
				</div>
			</div>	
			<div id="right_bigdiv">
				<div id="right_topdiv">
					<span class="span1">tubiao</span>
					<span class="span2">xiao hai</span>
				</div>
				<div id="right_meddiodiv">
					<span id="span_patientlist">添加设备</span>
				</div>
				<div id="data">
					<ul id="add_patient_context">
						<form id="add_device_form" method="post" >
                            {% csrf_token %}
							<tr class="inputadd"><input type="text" name="deviceid" id="_device_text"  placeholder="设备号：" /></tr>
							<tr>
								<td><input type="button" name="butten_" id="_butten1" onclick="cannl()" value="退出" /></td>
								<td><input type="button" name="submit_" id="_submit"   value="保存" onclick="save_device()"/></td>
							</tr>
						</form>
					</ul>
				</div>
					
				
			</div>
		</div>
	</body>
</html>
