<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>admin_patient</title>
        <script>
            var ret={{ ret|safe }};
            console.log(ret.length);
        </script>
        {% load static %}
        <script text="JavaScript" src="/static/polls_js/jquery-3.5.1.js"></script>
         <script text="JavaScript" src="/static/polls_js/admin_patient.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/polls_css/admin_patient.css"/>
	</head>
	<body>
		<div id="bianji">
			<li id="bianji_li" >编辑病人</li>
			<form  id="bianji_form_" method="post"  >
                {% csrf_token %}
				<li class="inputadd">ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="patient_id" id="text_id" value ="" /></li>
				<li class="inputadd">姓名：<input type="text" name="patient_name" id="text_name" value ="" /></li>
                <li class="inputadd">性别：<input type="text" name="patient_gender" id="text_gender" value ="" /></li>
				<li class="inputadd">生日：<input type="text" name="patient_birthday" id="text_birthday" value ="" /></li>
				<li class="inputadd">医生：<input type="text" name="patient_physician" id="text_physician" value ="" /></li>
                <li class="inputadd"><input type="text" class="send_data_text" name="edit_id" id="edit_send" value ="" /></li>
				<input type="button" class="bianji" name="" id="bianji_candl" onclick="bianji_cannl()" value="退出" />
				<input type="button" class="bianji" name="" id="bianji_sure" value="确认" onclick="checkbianji()" />
			</form>
		</div>
		<div id="delete_patient">
			<li>是否确认删除病人？</li>
            <form id="de_patient_form" method="post">
                {% csrf_token %}
                <input type="text" id="de_patient_id" class="send_data_text" name="">
                <input type="button" class="delete_pati" name="" id="delete_candl" onclick="delete_cannl()" value="退出" />
                <input type="button" class="delete_pati" name="" id="delete_sure" onclick="de_patient()" value="确认" />
            </form>
		</div>
		<div id="body_div">
			<div id="left_bigdiv">
				<div id="left_topdiv">
					<ul id="ul_1">
						<li>
							Management
						</li>
					</ul>
				</div>
				<div id="left_buttendiv">
					<ul id="ul_2">
						<li class="li_1" id="li_1-1">
							<a class="a_1 "id="a1" href="admin_patient.html">病人管理</a>
						</li>
						<li class="li_1" id="li_1-2">
							<a class="a_1" id="a2" href="http://127.0.0.1:8000/polls/login/admin_device/">设备管理</a>
						</li>
						<li class="li_1" id="li_1-3">
							<a class="a_1" id="a3" href="http://127.0.0.1:8000/polls/login/tiwen/">体温监测</a>
						</li>
					</ul>
				</div>
			</div>	
			<div id="right_bigdiv">
				<div id="right_topdiv">
					<span class="span1">tubiao</span>
					<span class="span2">xiao hai</span>
				</div>
				<div id="right_meddiodiv">
					<span id="span_patientlist">patient list</span>
					<span id="add_patient">
						<a href="http://127.0.0.1:8000/polls/login/add_patient/" style="background-color: #d5e2d6">添加病人</a>
					</span>
				</div>
				<div id="right_butten">
					<li class="li_list">ID</li>
					<li class="li_list">姓名</li>
					<li class="li_list">性别</li>
					<li class="li_list">生日</li>
					<li class="li_list">医生</li>
					<li class="li_list-1"></li>
				</div>
				<div id="data">
					
				</div>
					
				
			</div>
		</div>
	</body>
</html>
