<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>体温检测</title>
        {% load static %}
         <script text="JavaScript" src="/static/polls_js/echarts.js"></script>
        <script text="JavaScript" src="/static/polls_js/tiwen.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/polls_css/tiwen.css"/>
	</head>
	<body>
		<div id="fangda_div">
			<div id="fangda">
				
			</div>
			<input type="button" class="fangda_cannl" name="" id="fangda_candl" onclick="fangda_cannl()" value="退出" />
		</div>
		<div id="tiwen_cannl">
			<input type="button" name="" id="cannll" onclick="cannll()" value="返回" />
		</div>
		<div id="bigdiv">
			<div id="topdiv">
				<li id="title">体温监测</li>
			</div>
			<div id="datadiv">
				
			</div>
		</div>
	</body>
</html>
